<% var article = this.require('./app/articles/' + this.params.article + '.json'); %>
<article class="article-item">
	<header>
		<a href="/articles/<%= article.url %>.html" title="<%= article.metaTitle %>">
			<h1>
				<%= article.title %><br>
	            <small><%= article.subtitle %></small>
	        </h1>
			<h2>
				<small><%= article.date %><br>by</small> <%= article.author %>
			</h2>
		</a>
	</header>
	<div class="rounded-img">
	    <img src="/assets/images/articles/<%= article.image %>" style="width:130px;height:130px" />
	</div>
	<footer>
		<a href="/articles/<%= article.url %>.html" class="read-more" title="<%= article.meta.title %>">read more</a>
	</footer>
</article>